[Unit]
Description=Start wallchanger.service every 16 seconds

[Timer]
OnBootSec=16s
OnUnitActiveSec=16s
AccuracySec=1s

[Install]
WantedBy=timers.target
